
<h1>Mash-Up Posters</h1>


<% if current_user.present? %>
  <%= link_to "New poster", "#poster_modal", "data-toggle" => "modal" %>
  <%= render 'layouts/new_p' %>
<% else %>
  <p> Sign in to create new poster </p>
<% end %>

<%= form_tag posters_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", mash_title: nil %>
  </p>
<% end %>




<hr/>
<section id="poster_wrapper"> 
    <% @posters.each do |poster| %>
    <div class="poster">
      <%= link_to image_tag(poster.image_url,class: "p_index_img"), poster %>
      
      
      <%= link_to 'Edit', edit_poster_path(poster), class: "links" %>


      <div class="poster">
      
         <%= pluralize poster.reputation_for(:votes).to_i, "vote" %>
        <% if current_user && !current_user.voted_for?(poster) %>
          | <%= link_to "up", vote_poster_path(poster, type: "up"), method: "post" %>
          | <%= link_to "down", vote_poster_path(poster, type: "down"), method: "post" %>
        <% end %>
      </div>
    </div>
    <% end %>

</section>


<!-- link_to 'Destroy', poster, method: :delete, data: { confirm: 'Are you sure?' } -->
 


