<%= link_to 'Back to all posters', posters_path, class: "btn btn-primary" %> 
<section class="poster_show">
  <h1><%= @poster.mash_title %></h1>
  <div class="sub-title">
    <h4><%= @poster.blurb %></h4>
  </div>
  <hr/>
  <div class="show_img_div">
    <%= image_tag(@poster.image_url, class: "poster_show_img") %>
  </div>
  <div class="info_div">
    <div class="mash">
      <h3><%= @poster.title1 %> / <%= @poster.title2 %></h3>
    </div>
    <div class="voting_div">
      <%= pluralize @poster.reputation_for(:karma).to_i.inspect, "vote" %>
      <% if current_user && !current_user.voted_for?(@poster) %>
        <%= link_to image_tag("green-arrow.png"), karma_poster_path(@poster, type: "up"), method: "post" %>
        <%= link_to image_tag("red-arrow.png"), karma_poster_path(@poster, type: "down"), method: "post" %>
      <% end %>
    </div>
  </div>
  <div class="comment_div">
    <%= render 'comments/comments' %>
  </div>
</section>
