<hr>
<h1>Comments</h1>
<hr>


<div class="comments">
 <div class="move"> <table>
    <thead>
      <tr>
        <strong>Comments</strong>
        <th colspan="3"></th>
      </tr>
    </thead> 

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.user_id %></td>
          <td><%= comment.content %></td>
        </tr>

      <% end %>
    </tbody>
  </table></div>
</div>
<hr>

<%= form_for [@commentable, @comment] do |f| %>
 <% if current_user.present? %>

  <strong>Leave Your Comment</strong>
 
    <div class="field">
    <%= f.text_area :content, rows: 8 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Post" %>
  </div>

  <% else %>
    <p> Sign in to leave comments </p>
<% end %>
<% end %>


