<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>Title 1</th>
      <th>Title 2</th>
      <th>Mashed Title</th>
      <th>Content</th>
      <th>User Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title1 %></td>
        <td><%= story.title2 %></td>
        <td><%= story.mash_title %></td>
        <td><%= story.content %></td>
        <td><%= story.user_uid %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
