
<p id="notice"><%= notice %></p>

  <%= pluralize @story.reputation_for(:vote).to_i.inspect, "vote" %>
  <% if current_user && !current_user.voted_for?(@story) %>
          <%= link_to "up", vote_story_path(@story, type: "up"), method: "post" %>
          <%= link_to "down", vote_story_path(@story, type: "down"), method: "post" %>
    <% else %>
    	<p>Please Sign in to vote</p>
    <% end %>

<p>
  <strong>content:</strong>
  <%= @story.content %>
</p>

<p>
  <strong>Title1:</strong>
  <%= @story.title1 %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @story.title2 %>
</p>

<p>
  <strong>Mash title:</strong>
  <%= @story.mash_title %>
</p>


<%#= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>


  <%= render 'comments/comments' %>