
<%= link_to 'Back to all stories', stories_path, class: "btn btn-primary" %>
<section class="story_show">
  <h1>
    <%= @story.mash_title %>
  </h1>
  <p>
    <strong>Title 1:</strong>
    <%= @story.title1 %>
  </p>
  <p>
    <strong>Title 2:</strong>
    <%= @story.title2 %>
  </p>
  <p>
    <%= @story.content %>
  </p>

  <div>
    <%= pluralize @story.reputation_for(:votes).to_i.inspect, "vote" %>
    <% if current_user && !current_user.voted_for?(@story) %>
        <%= link_to image_tag("green-arrow.png"), vote_story_path(@story, type: "up"), method: "post" %>
        <%= link_to image_tag("red-arrow.png"), vote_story_path(@story, type: "down"), method: "post" %>
    <% else %>
      <p>Please Sign in to vote</p>
    <% end %>
  </div>
  <%= render 'comments/comments' %>
</section>
